.contact_div{
    display:flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F8E0E0;
    padding-top: 100px;
    @media screen and (min-width: 1280px) {
        gap: 100px;
        padding-top: 0;
        flex-direction: row;
	}
}
.contact_img{
    height:  430px;
    @media screen and (min-width: 1280px) {
        height:  530px;
	
	}
}
.contact_title{
    text-transform: uppercase;
    color: #6A7593;
    font-size: 60px;
    margin-bottom: 50px;
    @media screen and (min-width: 1280px) {
        margin-bottom: 200px;
	
	}
}
.contact_mini_div{
    display: flex;
    flex-direction: column;
  
    height:  630px;
}
.text{
    width: 300px;
    text-align: justify;
}
.mailto{
    text-transform: uppercase;
    margin-top: 30px;
    align-self: center;
    background-color: #E074A8;
    color: white;
    text-align: center;
    width: 200px;
    &:hover {
      color: #E074A8;
        background-color: white;
	}
}
.fa-envelope{
    margin-left: 12px;
}