.contact_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f8e0e0;
	@media screen and (min-width: 1280px) {
		gap: 100px;
		flex-direction: row;
	}
}
.contact_img {
	height: 300px;
	@media screen and (min-width: 1280px) {
		height: 530px;
	}
}
.contact_title {
	text-transform: uppercase;
	color: #6a7593;
	font-size: 40px;
	text-align: center;

	@media screen and (min-width: 1280px) {
		margin-bottom: 200px;
		font-size: 60px;
	}
}
.contact_mini_div {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1280px) {
		height: 630px;
	}
}
.text {
	width: 300px;
	text-align: justify;
}
.mailto {
	text-transform: uppercase;
	margin-top: 20px;
	align-self: center;
	background-color: #e074a8;
	color: white;
	text-align: center;
	width: 200px;

	&:hover {
		color: #e074a8;
		background-color: white;
	}
	@media screen and (min-width: 1280px) {
		margin-top: 30px;
		margin-bottom: 0px;
	}
}
.fa-envelope {
	margin-left: 12px;
}
.icon-list {

	justify-self: center;

	display: flex;
	justify-content: space-between;
	align-self: center;
	align-items: center;
	gap: 10px;
	margin-top: 15px;

}
.icon {
		color: #e074a8;
	text-decoration: none;
	font-size: 16px;
	&:hover {
		color:white;
	}
}
