
.graphic_div{
   
    display:flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F8E0E0;
}
.graphic_mini_div{
    display: flex;
    gap: 60px;
}
.graphic_img{
    width: 230px;
}
.graphic_title{
    text-transform: uppercase;
    color: #6A7593;
    font-size: 60px;
    margin-top: 200px;
}


.card{
 
 /*    margin-top: 200px!important; */
    width:200px;
    margin: auto;
    height: 200px;
    position: relative;
    transition: transform 4s ease-in;
    overflow: hidden;
    border:4px solid #fff;

}
.img{
    width:100%;
    height: 300px;
    transition: transform 1s ease-in;
}

.card:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    content: "";
    transform:translateY(-100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(188, 143, 143, 0.137);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    border:4px solid white;
    justify-content: center;
    box-sizing: border-box;
}

.card:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    content: "";
    transform:translateY(100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(188, 143, 143, 0.137);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    border:4px solid white;
    justify-content: center;
    box-sizing: border-box;
}
 .card:hover::before{
 transform: translateY(0%); 
 
}
.card:hover::after{
    transform: translateY(0%); 
    
   }

   .section {
    --childs: 5;
    --gap: 10px;
  
    width: min(80%, 800px);
    display: flex;
    gap: var(--gap);
  }
  
  .box {
    width: calc((100% / var(--childs)));
    box-sizing: border-box;
    height: min(30vmin, 250px);
    background-color: white;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: width 300ms 50ms ease-in-out;
  }
  
  .box:hover {
    width: calc((100% / (var(--childs) - 2)));
  }
  
  section:has(.box:hover) .box:not(:hover) {
    width: calc((100% / (var(--childs) + 1)));
  }
  
  .box-1 {
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4xBy25QhsXKnSDTBvupM7k/46fc453dc3f9434167601fdfe1ed9a22/meta-image-general.jpg");
  }
  
  .box-2 {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/975/453/226/counter-strike-cs-go-wallpaper-preview.jpg");
  }
  
  .box-3 {
    background-image: url("https://images.unsplash.com/photo-1630481331483-336ed0bac999?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHhib3glMjBjb250cm9sbGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  }
  
  .box-4 {
    background-image: url("https://cdn.dribbble.com/users/2976379/screenshots/5751717/battlefield_v.jpg");
  }
  
  .box-5 {
    background-image: url("https://a-static.besthdwallpaper.com/tom-clancy-s-ghost-recon-wildlands-wallpaper-2800x2100-2655_28.jpg");
  }