* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.body {
	display: flex;
	flex-direction: column;
	gap:20px;
}


.landing_offices{

	display: flex;
	justify-content: center;
align-items: center;	
text-align:justify;
font-size: 18px;
width: 600px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 100;
}
.landing_offices_options{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;	


}

.menu-landing {
	display: flex;

	align-items: center;
	justify-content: center;
	gap: 130px;

}

.landing-text-box {
	display: flex;
	flex-direction: column;
align-items: center;
	gap: 30px;
	

}
.main_landingtext{
	color: #6A7593;
	font-size: 40px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}
.mini_link{
	color: #E074A8;
	width: 230px;

	text-align: center;
	text-transform: uppercase;
	&:hover {
		color: #6A7593;
	}
}
.landingtext {
margin-top: -15px;
	color: #6A7593;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;


	
}

.landing-image {
	width: 500px;
}